body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.help {
  cursor: help;
}

.button1 {
  width: 80px;
  height: 50px;
  background-color: black;
  color: white;
  border: 2px solid white;
  transition-duration: 500ms;
}

.button1:hover {
  width: 90px;
  height: 50px;
  background-color: grey;
  color: black;
  border: 2px solid white;
}